* {
    box-sizing: border-box;
}

body {
    color: rgb(34, 34, 34);
}

.clear-day {
    background: #fff url(img/clear_day.jpg) no-repeat fixed top left;
    background-size: cover;
}

.clear-night {
    background: #fff url(img/clear_night.jpg) no-repeat fixed top left;
    background-size: cover;
}

.few-clouds-day {
    background: #fff url(img/few_clouds_day.jpg) no-repeat fixed top left;
    background-size: cover;
}

.few-clouds-night {
    background: #fff url(img/few_clouds_night.jpg) no-repeat fixed top left;
    background-size: cover;
}

.scattered-clouds {
    background: #fff url(img/scattered_clouds.jpg) no-repeat fixed top left;
    background-size: cover;
}

.broken-clouds {
    background: #fff url(img/broken_clouds.jpg) no-repeat fixed top left;
    background-size: cover;
}

.shower-rain {
    background: #fff url(img/shower_rain.jpg) no-repeat fixed top left;
    background-size: cover;
}

.rain {
    background: #fff url(img/rain.jpg) no-repeat fixed top left;
    background-size: cover;
}

.thunderstorm {
    background: #fff url(img/thunderstorm.jpg) no-repeat fixed top left;
    background-size: cover;
}

.snow {
    background: #fff url(img/snow.jpg) no-repeat fixed top left;
    background-size: cover;
}

.mist {
    background: #fff url(img/mist.jpg) no-repeat fixed top left;
    background-size: cover;
}

a {
    color: #bada55;
    text-decoration: none;
}

.degre {
    vertical-align: top;
    font: bold 40px/1.1em "Courier New", Courier, monospace;
}

#temperature {
    font: 80px Helvetica, sans-serif;
}

#location {
    font: 40px Helvetica, sans-serif;
}

.temp-container {
    margin: auto;
    text-align: left;
    margin-left: 260px;
}

.container {
    display: inline-block;
    margin-top: 30vh;
    min-width: 600px;
    padding: 30px;
    background-color: #ccc;
    background-color: rgba(125, 125, 125, 0.5);
}

.wrapper {
    text-align: center;
}

.unit {
    font: 70px Helvetica, sans-serif;
}

.small-unit {
    font: 20px Helvetica, sans-serif;
}

#unit-changer-wrapper {
    display: inline-block;
}

.icon {
    float: left;
}

.weather-ico {
    height: 200px;
    width: auto;
}
