* {
    box-sizing: border-box;
}

.degre {
    vertical-align: top;
    font: bold 40px/1.1em "Courier New", Courier, monospace;
}

#temperature {
    font: 80px Helvetica, sans-serif;
}

#location {
    font: 40px Helvetica, sans-serif;
}

.temp-container {
    margin: auto;
    text-align: left;
}

.container {
    display: inline-block;
    margin-top: 30vh;
}

.wrapper {
    text-align: center;
}
