* {
    box-sizing: border-box;
}

a {
    color: #bada55;
    text-decoration: none;
}

.degre {
    vertical-align: top;
    font: bold 40px/1.1em "Courier New", Courier, monospace;
}

#temperature {
    font: 80px Helvetica, sans-serif;
}

#location {
    font: 40px Helvetica, sans-serif;
}

.temp-container {
    margin: auto;
    text-align: left;
}

.container {
    display: inline-block;
    margin-top: 30vh;
    margin-left: 150px;
}

.wrapper {
    text-align: center;
}

.unit {
    font: 70px Helvetica, sans-serif;
}

.small-unit {
    font: 20px Helvetica, sans-serif;
}

#unit-changer-wrapper {
    display: inline-block;
}

.icon {
    float: left;
    margin-left: -300px;
    margin-top: -50px;
}

.weather-ico {
    height: 200px;
    width: auto;
}
